@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 28px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #ff6e7f;

    --background: -7 65% 5.76%;
    --foreground: -7 10% 98.6%;

    --muted: -7 50% 21.599999999999998%;
    --muted-foreground: -7 10% 57.2%;

    --popover: -7 45% 9.36%;
    --popover-foreground: -7 10% 98.6%;

    --card: -7 45% 9.36%;
    --card-foreground: -7 10% 98.6%;

    --border: -7 50% 21.599999999999998%;
    --input: -7 50% 21.599999999999998%;

    --primary: -7 100% 72%;
    --primary-foreground: -7 10% 7.199999999999999%;

    --secondary: -7 50% 21.599999999999998%;
    --secondary-foreground: -7 10% 98.6%;

    --accent: -7 50% 21.599999999999998%;
    --accent-foreground: -7 10% 98.6%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -7 10% 98.6%;

    --ring: -7 100% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100svh;
  }
}
