@import "./../styles/variables.scss";

.choices-container {
  display: flex;
  align-items: center;
  justify-content: center;


  article.choices {
    display: grid;

    width: min-content;
    height: min-content;

    grid-gap: 5px;

    grid-template-columns: repeat(4, 1fr);

    & > .choice {
      width: 30px;
      aspect-ratio: 1;
      border-radius: 50%;

      grid-column: span 2;

      background-color: red;
      display: flex;
      align-items: center;
      justify-content: center;
      
      box-shadow: $full-box-shadow;
      
      &:nth-last-child(1):nth-child(odd) {
        grid-column: 2 / span 2;
      }
    
      &.used {
        background-color: transparent;
        color: transparent;
        box-shadow: $empty-box-shadow;
      }

    }


  }
}
