@import "./../styles/variables.scss";

.result {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: min-content;

  // & > .result-grid {
  //   justify-items: center;

  //   section.choice {

  //     &.summation {
  //       background-color: orange;
  //     }

  //   }
  // }

  #grid {
    grid-column: span 3;
    grid-row: span 3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: min-content;
    grid-gap: 15px;

    .choice {
      width: 60px;
      aspect-ratio: 1;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $result-grid-colour;
      box-shadow: $full-box-shadow;
      color: white;
      font-size: 30px;

      &.empty {
        background-color: transparent;
        box-shadow: $empty-box-shadow;
        color: transparent;
      }
    }
  }

  #sum-row {
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  #sum-col {
    grid-column: span 3;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .summation {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    aspect-ratio: 1;

    font-size: 20px;
    color: red;

    &.correct {
      color: green;
    }
  }
}
